@import url(https://fonts.googleapis.com/css?family=Chilanka|Cute+Font|Lobster|Open+Sans+Condensed:300&display=swap);

* {
	margin: 0 auto;
	padding: 0;
}

header {
	position: fixed;
	width: 100%;
	z-index: 99;
}

a{
	color:#000;
	text-decoration: none;
	padding: 50px;
	font-weight: 300;
	font-family: chilanka;
	transition: all 0.5s;
	padding-top: 20px;
	font-size: 25px;
}

header nav {
	padding-top: 20px;
	background: pink;
	height: 35px;
	position: relative;
}

header nav ul li {
	display: inline;
}

header nav ul li a:hover {
	color: #000;
	padding-top: 50px;
	background: #fff;
	opacity: 0.5;
	padding-bottom: 10px;
}

#slide {position: relative;
	text-align: center;
	color: #000;
	font-family: Lobster;
	font-size: 50px;
	width: 100%;
	height: 300px;
	padding-top: 100px;
}	
#slide nav{
	padding-top: 15px;
	width: 25%;
	height: 70px;
	background-color: pink;
	padding-bottom: 50px;
}

#sobre {
	text-align: center;
	font-family:chilanka;
	font-size: 30px;
	width: 75%;
}

#image{margin: 100px 100px;
	padding-top: 100px;
	display: flex;
	flex-direction: row;
}

.img:hover{
	transform: scale(1.2);
}

#contact nav{
	padding-bottom: 30px;
	background: pink;
	position: relative;
	text-align: center;
	padding-top: 30px;
}

#contact a {
	font-family:chilanka; 
    padding: 25px;
    padding-bottom:5px;
    font-size: 20px;
}
 
#contact span {
	margin-top: 5px;
}

@media(max-width: 800px){
	
header {
	position: fixed;
	width: 100%;
	z-index: 99;
}

a{
	color:#000;
	text-decoration: none;
	padding: 25px;
	font-weight: 300;
	font-family: chilanka;
	transition: all 0.5s;
	padding-top: 10px;
	font-size: 20px;
}

header nav {
	padding-top: 20px;
	background: pink;
	height: 35px;
	position: relative;
}

header nav ul li {
	display: inline;
}

header nav ul li a:hover {
	color: #000;
	padding-top: 40px;
	background: #fff;
	opacity: 0.5;
	padding-bottom: 10px;
}

	#slide nav{
	padding-top: 15px;
	width: 100%;
	height: 80px;
	background-color: pink;
}
#image{margin: 0px;
	padding-top: 100px;
	display: flex;
	flex-direction: column;
}